.error-message {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    padding: 15px;
    width: 100%;
    max-width: 300px;
    height: 100px;
    border-radius: var(--border-radius);
    color: var(--color-text);
    background-color: var(--color-bg);
    border: var(--border);
    overflow: hidden;
}

.error-message__close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
}

.error-message__close-button-line {
    width: 10px;
    height: 1px;
    background-color: var(--color-text);
    border-radius: var(--border-radius);

    &:first-child {
        rotate: 45deg;
        translate: 0 0.04em;
    }

    &:last-child {
        rotate: -45deg;
    }
}

.error-message__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-overflow: ellipsis;
}

@media (width <= 768px) {
    .error-message {
        max-width: 250px;
    }
}