.field {
    position: relative;
    font-family: var(--font-family-accent);

    &:has(.field__input:not(:placeholder-shown)) .field__label {
        translate: -1.6em -2.3em;
        scale: 0.8;
        color: var(--color-field);
    }
}

.field__label {
    position: absolute;
    top: 50%;
    left: 17px;
    translate: 0 -50%;
    color: var(--color-field);
    pointer-events: none;
}

.field__input {
    --fieldInputPaddingX: 16px;
    --fieldInputSearchIconSize: 21px;

    width: 100%;
    padding-inline: var(--fieldInputPaddingX);
    height: var(--input-height);
    color: var(--color-field-text);
    background-color: transparent;
    border-radius: var(--border-radius);
    border: var(--border-field);
    outline: 2px solid transparent;
    outline-offset: 0;

    &:hover,
    &:focus {
        outline-color: var(--color-field);
    }

    &[type="search"] {
        &:placeholder-shown {
            padding-right:
                calc((var(--fieldInputPaddingX) * 2) + var(--fieldInputSearchIconSize));
            background-image: url('../../assets/icons/icon-search_accent.svg');
            background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
            background-size: var(--fieldInputSearchIconSize);
            background-repeat: no-repeat;
        }
    }
}

@media (max-width: 400px) {
    .todo__search-task-form .field__label {
        opacity: 0;
    }
}