.todo-item {
    position: relative;

    &.is-disappearing {
        opacity: 0;
        translate: 0 -65%;
        transition-duration: calc(var(--transition-duration) * 2);
        pointer-events: none;

        &~.todo-item {
            translate: 0 -100%;
            transition-delay: var(--transition-duration);
            transition-duration: var(--transition-duration);
            pointer-events: none;
        }
    }
}

.todo-item__checkbox {
    flex-shrink: 0;
    appearance: none;
    position: relative;
    margin: 0;
    width: 26px;
    height: 26px;
    border: var(--border);
    border-radius: 2px;

    &:not(:checked) {
        &::after {
            opacity: 0;
        }
    }

    &:checked {
        background-color: var(--color-accent);

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            width: 18px;
            height: 18px;
            background: url('../../assets/icons/icon-check_white.svg') center/contain no-repeat;
        }

        &+.todo-item__label {
            font-weight: 400;
            text-decoration: line-through;
            color: var(--color-grey);
        }
    }
}

.todo-item__label {
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    pointer-events: none;
    user-select: none;
}

.todo-item__actions {
    opacity: 0;
    display: flex;
    column-gap: 10px;
    margin-left: auto;
    transition-duration: var(--transition-duration);
}

.todo-item__edit-button,
.todo-item__delete-button {
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--color-grey);

    * {
        pointer-events: none;
    }
}

@media (hover: hover) {
    .todo-item {
        &:hover .todo-item__actions {
            opacity: 1;
        }
    }

    .todo-item__edit-button,
    .todo-item__delete-button {
        &:hover {
            scale: 1.05;
        }
    }

    .todo-item__edit-button {
        &:hover {
            color: var(--color-accent);
        }
    }

    .todo-item__delete-button {
        &:hover {
            color: var(--color-red);
        }
    }
}

@media (hover: none) {
    .todo-item__actions {
        opacity: 1;
    }

    .todo-item__edit-button,
    .todo-item__delete-button {
        &:active {
            scale: 1.05;
        }
    }
}