.originalControl {
  padding-inline: 0;

  @media (min-width: 768px) {
    & {
      display: none;
    }
  }
}

.body {
  position: relative;

  @media (max-width: 768px) {
    & {
      display: none;
    }
  }
}

.button,
.option {
  user-select: none;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
  column-gap: 10px;
  min-width: 93px;
  height: var(--input-height);
  color: var(--color-light);
  background-color: var(--color-accent);
  text-transform: uppercase;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
  box-shadow: var(--box-shadow);

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    background: url('../../assets/icons/icon-arrow_light.svg') center/contain no-repeat;
    transition-duration: inherit;
  }

  &.isExpanded {
    &::after {
      rotate: -180deg;
    }
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  z-index: 10;
  display: grid;
  min-width: 93px;
  width: 100%;
  color: var(--color-accent);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
  transform-origin: top;

  &:not(.isExpanded) {
    opacity: 0;
    visibility: hidden;
    scale: 0;
  }
}

.option {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 4px;
  min-width: inherit;
  border: 1px solid transparent;
  border-radius: inherit;

  &.isSelected {
    background-color: rgba(108, 99, 255, 0.2);
  }

  &.isCurrent,
  &:hover {
    border-color: var(--color-accent);
  }
}
