.taskForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 253px;
}

.actions {
  display: flex;
  justify-content: space-between;

  * {
    user-select: none;
  }
}
