.overlay {
  margin-top: 118px;
  padding: 0;
  border-radius: 16px;
  width: 100%;
  max-width: 500px;
  color: var(--color-text);
  background-color: var(--color-bg);
  border: 1px solid var(--color-light);
  transition-duration: var(--transition-duration);
  transition-behavior: allow-discrete;
  scale: 1;
  transform-origin: top;

  @starting-style {
    scale: 0;
  }

  &:not([open]) {
    scale: 0;
  }

  &::backdrop {
    background: rgba(37, 37, 37, 0.7);
  }

  &:modal {
    overflow: hidden;
  }

  @media (max-width: 767px) {
    & {
      max-width: 300px;
    }
  }
}

.wrapper {
  padding: 18px 30px;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}
